/*Testing reset to avoid browser differences*/
h1{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/***********************************************************/
/* HOME PAGE - BASIC elements definitions*/
/***********************************************************/

h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:32px;
    color: #6494f9;
}

h2{
    font-size:25px;
    color: #6494f9;
}

h3{
    font-size:18px;
    color: #646565;
}

p{
  color: #646565;
  font-size:16px;
}

li{
  color: #646565;
  font-size:16px;
}

strong{
  font-weight: bold;
}

body {
    background-color: #f7f7f9;
    margin: 0;
}


/***********************************************************/
/* HOME PAGE  */
/***********************************************************/

.content{
  min-height: 450px;
  width: 800px;
  margin: auto;
}

.content-alternative{
  min-height: 450px;
  margin: auto;
}

.presentation{
    height: 400px;
    background-color: #c6daff;
}

.presentation-container{
    width:800px;
    height: 400px;
    margin: auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.coverimg{
  margin-top:90px;
  float: left;
  height: 225px;
  width: 500px;
}

.coverimg img{
   vertical-align: middle;
   max-height: 225px;
   max-width: 500px;
}

.presentationBlock{
      margin-top: 125px;
      float: right;
}

.presentation h2{
      text-align: center;
      color: #6494f9;
      margin-bottom:20px;
}

.info-container{
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 10px;

}

.info-container h2{
    color: #6494f9;
}

.info-container p{
    width: 600px;
    color: #646565;
    margin: auto;
    margin-top: 20px;
}

.icon-container{

  width: 800px;
  display: inline-block;

}

.icon-container > img{
  float: left;
  margin-top: 85px;
}

.small-container{
    width: 195px;
    height: 160px;
    background-color: #e2e5e5;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    float: left;

}

/***********************************************************/
/* PROCESS PAGE */
/***********************************************************/

.process-content{
  width: 800px;
  margin: auto;
  min-height: 700px;
}

.process-li{
  display: inline-block;
  width: 800px;
  height: 205px;
  margin-top: 25px;
}

.process-li.break{
  border-bottom: 1px solid #6494f9;
}

.process-img{
  float:left;
  padding: 25px;
  background-color: #e2e5e5;
}

.process-description{
  float:left;
  width: 500px;
  margin-left: 25px;
}

.process-description h2{
  margin-top: 0px;
}

.process-description p{
  margin-top: 10px;
}

/***********************************************************/
/* LEARN PAGE */
/***********************************************************/
.learn-content h2{
  text-align: center;
}

.learn-content h3{
  margin-top: 0px;
}

.learn-li{
  display: inline-block;
  width: 800px;
  height: 150px;
  margin-top: 25px;
}

.learn-li.small{
  display: inline-block;
  width: 800px;
  height: 80px;
  margin-top: 25px;
}

.learn-li.big{
  display: inline-block;
  width: 800px;
  height: 180px;
  margin-top: 25px;
}

.learn-li.break{
  border-bottom: 1px solid #6494f9;
  padding-bottom: 35px;
}

.learn-img{
  float:left;
  padding: 20px;
  width:150px;
  height: 95px;
  background-color: #e2e5e5;
}


/***********************************************************/
/* EXAMPLES PAGE */
/***********************************************************/

.page-title{
  margin: auto;
  text-align: center;
  margin: 15px;
}

.example-img{
  margin: auto;
  width: 550px;
  padding: 15px;
}

.example-li h1{
  margin-top: 15px;
  margin-bottom: 15px;
}

/***********************************************************/
/* ABOUT PAGE */
/***********************************************************/

.about-content img{
  width: 215px;
  height: 215px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}


.about-content p{
  margin-top: 15px;
  margin-bottom: 15px;
}

.example-img{
  margin: auto;
  width: 550px;
  padding: 15px;
}

.example-li h1{
  margin-top: 15px;
  margin-bottom: 15px;
}

/***********************************************************/
/* header */
/***********************************************************/
header{
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    height: 2px;

    height: 60px;
    border-bottom: 1px solid #e2e5e5;
}

header.mainPage {
  border-bottom: 0;
}

.headerContent {
    max-width: 1200px;
    margin: auto;
}

header img {
    float: left;
    padding: 10px;
}

header h1 {
    float: left;
    margin-top: 5px;
}

header h1 a {
    border-right: 1px solid rgba(255,255,255, 0.3);
    color: #6494f9;
    text-decoration: none;
}

header nav {
    float: right;
    margin-top: 23px;
    margin-right: 15px;
}

header > nav a {
    margin-right: 10px;
    border-right: 1px solid #6494f9;
    color: #646565;
    cursor: pointer;
    padding-right: 10px;
    text-decoration: none;
}

header > nav a:hover {
    text-decoration: underline;
}

header > nav a:nth-child(6) {
    border-right: 0 !important;
    padding-right: 10px !important;
}

.navigation{
    text-decoration: underline !important;
    font-weight: bold;
}

.button {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #254ac4;
    color: #e2e5e5 !important;
    border: 0px none;
    cursor: pointer;
    padding: 10px !important;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    opacity: 0.3;
}

/***********************************************************/
/* footer */
/***********************************************************/
footer {
    margin-top: 25px;
    height: 60px;
    border-top: 1px solid #e2e5e5;
}

.footer-content{
  max-width: 1200px;
  margin: auto;
}

.fixed{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

footer h3{
    display: inline-block;
    color: #646565;
    margin-right: 10px;
}

footer .right {
    float: right;
}

footer img {
   margin-top: 10px;
   position:absolute;
   left:50%;
   margin-left:-25px;
}
